.card-content-sectionList{
  background-color: #6d6d6d !important;
  height: 40vh;
  margin-bottom: 10px;
}

.card-item-container{
  margin-top: -20px;
}

.section-person-list{
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

@media(max-width: 770px){
  .section-person-list{
    height: 120px;
    width: 100%;
    text-align: center;
  }
}

.body-card-section{
  margin: 0px;
  overflow-x: unset;
  overflow-y: auto;
}

.empty-people-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  
}

.icon-empty{
  margin-bottom: 10px;
  font-size: 24px !important;
}

.search-section-list{
  margin-top: 5vh;
  margin-bottom: 10px;
}
.warning-text-section{
  color: #fff5ff !important;
  text-align: justify;
}