#sucessDraw{
  color: #fff;
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sucessDraw .btn-back-sucess{
  border-radius: 5px;
  padding: 0px 20px;
  height: 40px;
}