button.btn-modal-exclusion{
  border: none;
  width: 35px !important;
  height: 35px !important;
  padding: 2px !important;
  border-radius: 100% !important;
  transition: filter 0.2s;
}

div.modal-footer-exclusion{
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cancel-button-exclusion, .confirm-button-exclusion{
  border: none;
  padding: 8px 30px;
  margin: 8px 20px;
  color: #fff;
  border-radius: 5px !important;
  transition: filter 0.2s;
}

.cancel-button-exclusion:hover, .confirm-button-exclusion:hover{
  filter: brightness(90%);
}


.modal-icon-trash{
  font-size: 14px;
}